@model int
@{
    ViewData["Title"] = "StatisticaNo";
}
<!Doctype html>
<html>
    <body>
    <div>
        <a asp-area="" asp-controller="Users" action="StatisticaNo"></a>
        <p>Who Say "No": @Model</p>
    </div>

    </body>
</html>
