@model Interview.User

@{
    ViewData["Title"] = "Statistica";
}

<h1>Statistica</h1>

<div>
   <p>
        @{
            int ResultYes()
            {
                TestDbContext db = new TestDbContext();
                var yes = db.Users.Where(e => e.Status == Status.Yes).Count();
                return yes;
            }
       }
   </p>

   
</div>

<p>People who say "YES" : @ResultYes</p>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
