@model int
@{
    ViewData["Title"] = "StatisticaYes";
}
<!Doctype html>
<html>
    <body>
    <div>
        <a asp-area="" asp-controller="Users" action="StatisticaYes"></a>
        <p>Who Say "Yes": @Model</p>
    </div>

    </body>
</html>
