@model int
@{
    ViewData["Title"] = "StatisticaSureNo";
}
<!Doctype html>
<html>
<body>
    <div>
        <a asp-area="" asp-controller="Users" action="StatisticaSureNo"></a>
        <p>Who Say "SureNo": @Model</p>
    </div>

</body>
</html>
